:root {
  --color-primary: hsl(257, 40%, 49%);
  --color-secondary: hsl(300, 69%, 71%);
  --color-neutral: hsl(0, 0%, 100%);

  --ff-primary: "Open Sans", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: "Poppins", sans-serif;

  --fw-regular: 200;
  --fw-bold: 500;

  --fs-text: 1.2rem;
  --fs-heading: 1.6rem;
}
/* ****** GOOGLE FONTS ****** */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* body */
body {
  font-family: var(--ff-body);
  font-size: 18px;
  background-image: url(/images/bg-mobile.svg);
  background-color: var(--color-primary);
  background-repeat: no-repeat;
}

header > a > img {
  width: 10rem;
}

header,
main {
  padding: 1.4rem;
}

.img-container > img {
  margin: auto;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
  color: var(--color-neutral);
  text-align: center;
}

.txt-container {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}
h1,
p {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

p {
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text);
  color: var(--color-neutral);
  margin: 1rem 0;
}

section > button {
  color: var(--color-primary);
  width: 12rem;
  padding: 0.6rem 2rem;
  border: 1px solid var(--color-neutral);
  border-radius: 1.8rem;
  font-family: var(--ff-heading);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2rem;
}

section > button:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

section > button:active {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.socials-container {
  text-align: center;
}
.socials-container > a {
  display: inline-block;

  padding: 0.5rem;
  border: 1px solid var(--color-neutral);
  color: var(--color-neutral);
  border-radius: 1.2rem;
}

/* Media queries */

@media (min-width: 60em) {
  body {
    padding: 1.5rem 3rem;
    background-image: url(../images/bg-desktop.svg);
    height: 100vh;
    line-height: 2;
  }

  main {
    height: 75vh;
  }

  header > a > img {
    width: 10rem;
  }

  .img-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img-container > img {
    /* width: 1500px; */
    /* margin-right: 4rem; */
  }

  .txt-container {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3rem;
    max-width: 40vw;

    /* align-items: left; */
    /* justify-content: left; */
  }
  h1,
  p {
    padding: 0;
    /* margin-bottom: 1rem; */
  }

  h1 {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
  }

  .lower-text {
    display: block;
  }

  p {
    font-size: 1.5rem;
    font-weight: 200;
  }

  section > button {
    margin-top: 1rem;
  }

  main {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
  }

  .socials-container {
    text-align: right;
  }
}
